*{
  margin: 0;
}

body{
  background-color: #f5f6fa;
}
.app{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  /* box-sizing:border-box ; */
}
.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__header > h1{
  color: red;
  font-size: 2rem;
}

.app__dropdown{
  background-color: white;
}

.app__stats{
  /* display: flex; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app__left{
  flex:0.9
}

@media(max-width:900px){
  .app{
    flex-direction: column;
  }
}

@media(max-width:585px){
  .app__header{
    flex-direction: column;
  }
  .app__stats{
    flex-direction: column;
    text-align: center;
    font-size: 3ex;
  }
}

@media(max-width:414px){
  .app__header{
    flex-direction: column;
  }
  .app{
    padding: 5px;
    /* justify-content: center; */

  }
}