.lineGraph{
    margin-top: 10px;
}
.lineGraph canvas{
  margin-top: 25px;
  /* height: 205px !important; */
  height: 100% !important;
}
@media(max-width:414px){
  .lineGraph canvas{
      width: 100% !important;
    }
  }